:root {
    --gold-color: #D4AF37;
    --call-to-action: #375cd4;
    --background: #f1f1f1;
    --background2: #dfdfdf;
    --shadow-color: #a8a8a8;
    --header-colors: #292929;
    --text-color: #474747;
    --header-font: 'Rouge Script', cursive;
    --paragraph-font: 'Roboto', sans-serif;
    
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4 {
    font-family: var(--header-font)
}

p, span, a {
    font-family: var(--paragraph-font)
}

header {
    display: grid;
    grid-template-columns: 1fr 50px;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: absolute;
}

header > div.img-container {
    width: 75%;
}

header > div.img-container > a {
    width: 100%;
    height: auto;
}

header > div.img-container > a > img {
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 2px 2px var(--header-colors));
}

header > span.button-menu {
    text-align: right;
    font-size: 2em;
}

header > nav {
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: var(--background);
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 100%;
    color: var(--header-colors);

}

header > nav > ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

header > nav > ul > li > a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 0.3em 0;
    color: var(--gold-color);
    font-weight: bolder;
    border-bottom: 1px solid var(--gold-color);
}

.open {
    height: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

main > section.home > section.jumbotron {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/pictures/family_temple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main > section.home > section.jumbotron > div.weather-card {
    width: auto;
    display: inline-flex;
    flex-direction: column;
    color: var(--background);
}

main > section.home > section.jumbotron > div.weather-card > div.main {
    padding: 1em;
    background-color: rgba(78, 78, 78, 0.582);
    display: inline-block;
    font-size: 2em;
    margin: 0.2em;
    font-size: bolder;
    text-align: center;
    filter: drop-shadow(2px 2px 2px var(--header-colors));
}

main > section.home > section.jumbotron > div.weather-card > div.main > span#mainWeatherDescription,
main > section.home > section.jumbotron > div.weather-card > div.main > span#mainWeatherHumidity {
    font-size: 0.5em;
}

main > section.home > section.jumbotron > div.weather-card > div.smalls {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-size: .75em;
    filter: drop-shadow(2px 2px 2px var(--header-colors));
}

main > section.home > section.jumbotron > div.weather-card > div.smalls > div.weather{
    background-color: rgba(78, 78, 78, 0.582);
    padding: 0.5em;
    display: inline-flex;
    flex-direction: column;
    width: auto;
    margin: 0.2em;
    text-align: center;
    font-weight: bolder;
}

main > section.home > section.jumbotron > a.reserve-jumbotron {
    position: absolute;
    top: 73%;
    background-color: var(--call-to-action);
    padding: 0.5em 4em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    filter: drop-shadow(2px 2px 2px var(--header-colors));
    cursor: pointer;
}

main > section.home > section.jumbotron > div.social {
    position: absolute;
    width: 50%;
    top: 90%;
    display: flex;
    justify-content: space-evenly;
}

main > section.home > section.jumbotron > div.social > a > img.social-icon {
    height: 40px;
    filter: drop-shadow(2px 2px 2px var(--header-colors));
}

main > section.home > section.temple-info {
    padding: 2em;
    text-align: center;
    background-color: var(--background2);
}

main > section.home > section.temple-info > div.img-temple-container {
    width: 100%;
}

main > section.home > section.temple-info > h2 {
    font-size: 2em;
    color: var(--gold-color);
}

main > section.home > section.temple-info > div.img-temple-container > img {
    width: 100%;
}

main > section.home > section.services {
    padding: 2em;
}

main > section.home > section.services > h2 {
    font-size: 2em;
    margin-top: 0;
    color: var(--gold-color);
    text-align: center;
}

main > section.home > section.services > div.service {
    padding: 0.5em 1em;
    background-color: var(--background2);
    margin-bottom: 1em;
}

main > section.home > section.services > div.service > h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}

main > section.home > section.contact-us {
    padding: 2em;
    background-color: var(--background2);
    text-align: center;
}

main > section.home > section.contact-us > p.contact-address {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main > section.home > section.contact-us > h2 {
    font-size: 2em;
    color: var(--gold-color);
    text-align: center;
}

main > section.home > section.reserve-now {
    padding: 2em;
    text-align: center;
}

main > section.home > section.reserve-now > h2 {
    font-size: 2em;
    color: var(--gold-color);
    
}

main > section.home > section.reserve-now > a.reserve-body {
    background-color: var(--call-to-action);
    display: block;
    text-align: center;
    padding: 0.5em 4em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    filter: drop-shadow(2px 2px 2px var(--header-colors));
    cursor: pointer;
}

footer {
    background-color: var(--background2);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > div.img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > div.img-container > img {
    width: 60%;
    margin: 0 auto;
}

footer > p {
    margin: 0.5em auto;
    grid-column: 1/3;
}

footer > div.address-text {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main > section.temples {
    padding: 6em 1.5em;
}

main > section.temples > h1 {
    color: var(--gold-color);
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
}

main > section.temples > section.temple-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--shadow-color);
    text-align: center;
    width: auto;
    
}

main > section.temples > section.temple-container {
    margin: 0 auto;
    width: auto;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--background2);
}

main > section.temples > section.temple-container p:nth-child(3),
main > section.temples > section.temple-container p:nth-child(7) {
    display: none;
}

main > section.temples > section.temple-container > h2 {
    font-size: 2em;
    text-align: center;
}

main > section.temples > section.temple-container > p.temple-email {
    font-size: 0.90em;
}

main> section.reservation {
    padding: 2em;
    padding-top: 4em;
}

main > section.reservation > h1 {
    font-size: 3em;
    text-align: center;
    color: var(--gold-color);
}

main > section.reservation > form,
main > section.fulltimemissionary > form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 1em;
    border-left: 2px solid var(--gold-color);
}

main > section.reservation > form > input,
main > section.fulltimemissionary > form > input,
main > section.reservation > form > select {
    margin-bottom: 1em;
}

main > section.reservation > form > input[type=text],
main > section.reservation > form > input[type=email],
main > section.reservation > form > input[type=tel],
main > section.fulltimemissionary > form > input[type=text],
main > section.fulltimemissionary > form > input[type=email],
main > section.fulltimemissionary > form > input[type=tel],
main > section.reservation > form > textarea,
main > section.fulltimemissionary > form > textarea,
main > section.reservation > form > input[type=datetime-local],
main > section.reservation > form > select {
    padding: 0.4em;
    background-color: white;
    border: 1px solid var(--shadow-color);
    width: 100%;
}

main > section.reservation > form > input:invalid,
main > section.fulltimemissionary > form > input:invalid {
    border-bottom: 2px solid crimson;
}

main > section.reservation > form > input:valid,
main > section.fulltimemissionary > form > input:valid {
    border-bottom: 2px solid var(--call-to-action);
}

main > section.reservation > form > input[type=submit],
main > section.fulltimemissionary > form > input[type=submit] {
    background-color: var(--call-to-action);
    display: block;
    text-align: center;
    padding: 0.5em 4em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2em;
    border: none;
}

main > section.reservation > form > label {
    font-size: 0.75em;
    color: var(--header-colors);
}

main > section.formresponse {
    padding: 15em 1em;
}

main > section.formresponse > h1 {
    font-size: 3em;
    color: var(--gold-color);
}

main > section.services {
    padding: 6em 1em;
}

main > section.services > h1 {
    font-size: 3em;
    color: var(--gold-color);
    text-align: center;
}

main > section.reception,
main > section.fulltimemissionary {
    padding: 2em;
    padding-top: 4em;
}

main > section.reception > h1,
main > section.fulltimemissionary > h1 {
    font-size: 3em;
    color: var(--gold-color);
    text-align: center;
}

main > section.reception > section.gallery > div.img-container,
main > section.fulltimemissionary > section.gallery > div.img-container {
    width: 100%;
}
main > section.reception > section.gallery > div.img-container > img,
main > section.fulltimemissionary > section.gallery > div.img-container > img{
    width: 100%;
    height: auto;
}

.likeInfo {
    margin-left: 1em;
}
